<!-- NAVBAR -->
<div ng-controller="HeaderController" style="border: none; border-radius: 0;" class="navbar navbar-default">
	<a href="/" class="pull-left">
		<img style="height: 50px; padding: 4px 0;" class="inline_block" src="/img/analytics_logo.png" />
	</a>
	<ul class="nav navbar-nav pull-right font1">
		<li>
			<a href="/workspace">(Workspace)</a>
		</li>
		<li>
			<a href="#how_it_works">HOW IT WORKS</a>
		</li>
		<li>
			<a href="/pricing">BUSINESS PRICING</a>
		</li>
		<li>
			<a href="#faq">FAQ</a>
		</li>
		<li>
			<a class="special_button left_right_margin" style="background-color: orange;" href="/signup">GET STARTED</a>
		</li>
		<li>
			<a class="special_button" style="background-color: #428bca;" href="/login">LOG IN</a>
		</li>
	</ul>
</div>