<!-- info -->
<div style="width: 90%; margin: 0 auto; margin-top: 30px; background-color: #5bc0de; padding: 10px;">
	<div style="font-weight: bold; margin: 5px auto; color: grey;" class="text-center full_width">
		Information Retrieved
	</div>

	<div class='text-left italic'>{{ data.num_rows }} rows</div>
	
	<div href="#" class="remove_cube pull-right">
		<span class="glyphicon glyphicon-remove"></span>
		Remove
	</div>
	
	<div>
		<div ng-repeat="tidbit in data.tidbits">{{ tidbit }}</div>
	</div>
</div>

<!-- cube -->
<div class="cube_summary">
	<table class="cube_data_table">
		<thead>
			<!-- labels editable -->
			<tr class="label_row">
				<td style="background-color: lightgrey;">Labels</td>
				<td ng-repeat="label in data.labels track by $index">
					<input class="form-control" style="width: auto; margin: 10px;" ng-model="label" ng-change="updateLabel($index, label)" type="text" name="label" value="{{ label }}" />
				</td>
			</tr>
			<!-- types -->
			<tr>
				<td style="background-color: lightgrey;">Types</td>
				<td ng-repeat="type in data.types track by $index">
					<select class="form-control">
						<option value="{{ type }}">{{ type }}</option>
						<option ng-repeat="otherType in ['excel_datetime', 'datetime', 'number', 'string', 'empty']" ng-if="show(type, otherType)" value="{{ otherType }}">{{ otherType }}</option>
					</select>
				</td>
			</tr>
		</thead>
		
		<!-- csv data -->
		<tbody>
			
		</tbody>
	</table>
</div>


<div class="text-center">
	<a ng-click="cubeSeeMore()" class="cube_see_more" href="#">see more...</a>
</div>