<div class="cube_summary">
	<!-- <input type="hidden" name="cubeId" value="{{ data.id }}" /> -->
	
	<div class='pull-left italic'>{{ data.num_rows }} rows</div>
	
	<a ng-click="alert('d')" href="#" class="remove_cube pull-right">Remove</a>
	
	<div>
		<div ng-repeat="tidbit in data.tidbits">{{ tidbit }}</div>
	</div>
	
	<table class="cube_data_table">
		<!-- labels editable -->
		<tr class="label_row">
			<td style="background-color: lightgrey;">Labels</td>
			<td ng-repeat="label in data.labels track by $index">
				<input ng-model="label" ng-change="updateLabel($index, label)" type="text" name="label" value="{{ label }}" />
			</td>
		</tr>
		<tr>
			<td style="background-color: lightgrey;">Types</td>
			<td ng-repeat="type in data.types track by $index">{{ type }}</td>
		</tr>
	</table>
</div>