<div class="cube_summary">
	<!-- <input type="hidden" name="cubeId" value="{{ data.id }}" /> -->
	
	<div class='pull-left italic'>{{ data.num_rows }} rows</div>
	
	<a ng-click="alert('d')" href="#" class="remove_cube pull-right">Remove</a>
	
	<div>
		<div ng-repeat="tidbit in data.tidbits">{{ tidbit }}</div>
	</div>
	
	<table class="cube_data_table">
		<thead>
			<!-- labels editable -->
			<tr class="label_row">
				<td style="background-color: lightgrey;">Labels</td>
				<td ng-repeat="label in data.labels track by $index">
					<input class="form-control" style="width: auto; margin: 10px;" ng-model="label" ng-change="updateLabel($index, label)" type="text" name="label" value="{{ label }}" />
				</td>
			</tr>
			<tr>
				<td style="background-color: lightgrey;">Types</td>
				<td ng-repeat="type in data.types track by $index">
					<select class="form-control">
						<option value="{{ type }}">{{ type }}</option>
						<option ng-repeat="otherType in ['excel_datetime', 'datetime', 'number', 'string', 'empty']" ng-if="show(type, otherType)" value="{{ otherType }}">{{ otherType }}</option>
					</select>
				</td>
			</tr>
		</thead>
		
		<!-- csv data -->
		<tbody>
			
		</tbody>
	</table>
</div>


<div class="text-center">
	<a class="cube_see_more my_hide" href="#">see more...</a>
</div>