<div class="upload_area" style="position: relative; display: inline-block;">
	<!-- big version -->
	<div ng-if="dataBool==false">
		<img style="position: absolute; top: 5px; left: 5px; width: 48px; height: 48px;" src="/img/workspace/upload.png"></img>
		<h3 >Drag file(s) here</h3>
		<p>Or choose from folder...</p>
	</div>
	<!-- small version -->
	<div ng-if="dataBool==true">
		<img style="width: 48px; height: 48px;; margin: 5px;" src="/img/workspace/upload.png"></img>
	</div>
	
	<!-- replication causes jquery selection issues -->
	<input multiple ng-hide="dataBool==true" style="width: 100%; margin: 0 auto;" class="text-center form-control" type="file"></input>

	
	<div style="margin: 0; margin-top: 10px;" class="my_hide progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	
	<div class="processing my_hide" >
		<h4 style="color: grey;">Extracting and cleaning your data. This may take a minute...</h4>
		<img style="width: 100%; max-width: 256px;" src="/img/workspace/processing.gif"></img>
	</div>
	
	
	<div style="width: 100%; margin: 5px auto;" class="my_hide alert alert-danger">
		Supported file types are .xls, .xlsx, .csv, and .sav
	</div>
</div>