<style>
	/* extra padding on this page */
	.row {
		padding: 5px 10px;
	}

	.section_title {
		font-size: 2.5em;
		padding: 15px 0;
	}
	.bottom_rule {
		border-bottom: 1px solid #c5d0de;
		width: 50%;
		margin: 0 auto;
	}
	.section_p {
		font-size: 1.25em;
		font-weight: 600;
		color: grey;
		width: 75%;
		margin: 0 auto;
		margin-top: 15px;
	}
</style>


<div class="container">	
	<div id="main">
		<!-- header -->
		<div class="row text-center">
			<div class="col-sm-12">
				<div class="section_title">By far the most effective way to deal with your company's data.</div>
				<div class="bottom_rule"></div>
				<div class="section_p">
					Company data is often spread across departments, 
					in various messy formats, and tedious quantities. Our software lets you forget the hassle, 
					and get straight to the exploration.
				</div>
			</div>
		</div>
		<!-- img -->
		<div class="row text-center very_big_space_top">	
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/cloud.png" ></img>
			</div>
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/extraction.png" ></img>
			</div>
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/interactive.png" ></img>
			</div>
		</div>
		<!-- features -->
		<div class="row text-center big_space_top">	
			<div class="col-sm-4">
				<h2>Effortless & Secure</h2>
			</div>
			<div class="col-sm-4">
				<h2>Intelligent Data Extraction</h2>
			</div>
			<div class="col-sm-4">
				<h2>Collaboration & Exploration</h2>
			</div>
		</div>
		<div class="row justify">	
			<div class="col-sm-4">
				<div>
					Seamlessly transition to our software on the cloud with no installation, 
					no training, and absolute data security
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					Excel and other data files can get very messy, very fast. Our proprietary data engine 
					intelligently extracts and unifies information
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					Centralize your disparate data, enabling collaboration between employees. 
					Use our analytics tools to draw insights
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- HOW IT WORKS -->
	<div id="how_it_works" style="background-color: white;" class="very_big_space_top">
		<!-- header -->
		<div class="row text-center">
			<div class="col-sm-12">
				<div class="section_title">
					Simple, intuitive, powerful
					<a href="#main" class="clickable pull-right">^</a>
				</div>
				<div class="bottom_rule"></div>
				<div class="section_p">
					Our software is designed from the ground-up to pack immense analytical power, yet 
					remain easy to use. It's as hassle-free as 1, 2 & 3:
				</div>
			</div>
		</div>
		<!-- img -->
		<div class="row text-center very_big_space_top">	
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/step1.png" ></img>
			</div>
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/step2.png" ></img>
			</div>
			<div class="col-sm-4">
				<img style="width: 100%;" src="/img/landing/step3.png" ></img>
			</div>
		</div>
		<!-- features -->
		<div class="row text-center big_space_top">	
			<div class="col-sm-4">
				<h2>
					<a href="">Get Started</a> with one of our plans
				</h2>
				
			</div>
			<div class="col-sm-4">
				<h2>
					Link to your data
				</h2>
				
			</div>
			<div class="col-sm-4">
				<h2>Start exploring</h2>
				
			</div>
		</div>
		<!-- descriptions -->
		<div class="row justify">	
			<div class="col-sm-4">
				<div>
					All software is on the cloud, meaning no installation is required. Just sign up 
					and get your team(s) going! Our intuitive interface means no special training is needed
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					Securely upload or link to your data, and be amazed at our extraction engine. All communication 
					and storage is encrypted for confidentiality
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					Leverage state-of-the-art Machine Learning or perform traditional analysis
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- FAQ AND CUSTOMERS-->
	<div id="faq" class="very_big_space_top">
		<!-- header -->
		<div class="row text-center">
			<div class="col-sm-12">
				<div class="section_title">
					FAQ
					<a href="#main" class="clickable pull-right">^</a>
				</div>
				<div class="bottom_rule"></div>
				<div class="section_p">
					See what our customers have to say about us, and browse commonly asked questions
				</div>
			</div>
		</div>
		<!-- img -->
		<div class="row text-center very_big_space_top">	
			<div class="col-sm-6">
				<div class="font1-25">PT Shipping</div>
				<div style="font-style: italic;" class="section_p">
					"Great product, great service, great price. Finally."
				</div>
				<div class="test-right">
					- Managing Director, Paul Rodriguez
				</div>
			</div>
			<div class="col-sm-6">
				<div class="font1-25">SIA Financial</div>
				<div style="font-style: italic;" class="section_p">
					"By far the best analytics software we've used so far."
				</div>
				<div class="test-right">
					- CEO, Bob Dylan
				</div>
			</div>
		</div>
		<!-- features -->
		<div class="row text-center big_space_top font1-25">	
			<div class="col-sm-12">
				<div style="width: 80%; margin: 0 auto;">
					<div class="black medium_space_top">
						Why don't I need to install the software?
					</div>
					<div class="grey">
						Well blaslfldsfd sfd gand sathen aI nas but reallty ehotn rds dsfsd s, so fnsdfds ds fds sd .
					</div>
				
					<div class="black medium_space_top">
						Is this for small businesses or enterprise?
					</div>
					<div class="grey">
						Well blaslfldsfd sfd gand sathen aI nas but reallty ehotn rds dsfsd s, so fnsdfds ds fds sd .
					</div>
				
					<div class="black medium_space_top">
						Will I get support if we have any issues? Can I talk to someone?
					</div>
					<div class="grey">
						Well blaslfldsfd sfd gand sathen aI nas but reallty ehotn rds dsfsd s, so fnsdfds ds fds sd .
					</div>
				
					<div class="black medium_space_top">
						What did they say to the chicken who crossed the road?
					</div>
					<div class="grey">
						Well blaslfldsfd sfd gand sathen aI nas but reallty ehotn rds dsfsd s, so fnsdfds ds fds sd .
					</div>
				
					<div class="black medium_space_top">
						Why don't I need to install the software?
					</div>
					<div class="grey">
						Well blaslfldsfd sfd gand sathen aI nas but reallty ehotn rds dsfsd s, so fnsdfds ds fds sd .
					</div>
				</div>
			</div>
		</div>
		
		<!-- signup -->
		<div class="row text-center medium_space_top">	
			<div class="col-sm-12">
				<a href="/signup" class="font2 btn btn-warning left_right_margin">GET STARTED</a>
			</div>
		</div>
	</div>
</div>