<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Sign up</h1>
		
			<div ng-enter="postSignup()" id="login_form" style="width: 40%; margin: 30px auto;">
				<input ng-model="email" class="form-control" type="email" name="email" placeholder="Email" required />
				<input ng-model="password" class="medium_space_top form-control" type="password" name="password" placeholder="Password" required />
			
				<button ng-click="postSignup()" class="btn btn-success medium_space_top font1-5" style="border-radius: 0; width: 100%;">Sign up</button>
			</div>
		
			<div class="alert alert-danger my_hide">Something went wrong</div>
		</div>
	</div>
</div>